dbdata/.my-healthcheck.cnf
dbdata/aria_log_control
dbdata/aria_log.00000001
dbdata/ddl_recovery.log
dbdata/ib_buffer_pool
dbdata/ib_logfile0
dbdata/ibdata1
dbdata/ibtmp1
dbdata/mariadb_upgrade_info
dbdata/multi-master.info
dbdata/tc.log
dbdata/undo001
dbdata/undo002
dbdata/undo003
